html
	head
		title Project Image | Login
		script(src='js/jquery.js')
		script(src='js/materialize.js')
		link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='css/materialize.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel='apple-touch-icon', sizes='180x180', href='favicon/apple-touch-icon.png')
		link(rel='icon', type='image/png', href='favicon/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='favicon/favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='favicon/manifest.json')
		link(rel='mask-icon', href='favicon/safari-pinned-tab.svg', color='#5bbad5')
		meta(name='theme-color', content='#ffffff')

		meta(name="viewport" content="width=device-width, initial-scale=1.0") 
body.lime
.row
	div.col.s12.m8.l6.offset-m2.offset-l3(style='margin-top:50px;')
		.card
			.card-content.grey-text
				span.card-title Login
				|                
				.row
					form.col.s12(name='login', action='login', method='POST')
						.row
							.input-field.col.s12
								i.material-icons.prefix account_circle
								|           
								input#icon_prefix.validate(name='username', type='text', value="", required)
								|           
								label(for='icon_prefix') User Name
							|         
							.input-field.col.s12
								i.material-icons.prefix vpn_key
								|           
								input#icon_password.validate(name='password', type='text', value="", required)
								|           
								label(for='icon_password') Password
							.input-field.col.s6
								p
									input#test5(type='checkbox')
									|       
									label(for='test5') Remember me!
						button.btn.lime.waves-effect.waves-light.right(type='submit', name='action')
							| Login
			.card-action.grey.lighten-2
				a.grey-text(href='#') Forgot Password?
				a.grey-text.right(href='#') SignUp?
